
<!-- KLM section -->

<div class="vpad--xxxxl bv-parallax" style="background-image: url('{{site.img}}/content/klm/hero.jpg'); background-position: bottom center">
    <div class="container width width--xl">
      <div class="text--white text--center">
        <a id="track-partner-logo{{include.placement | prepend: '-'}}" class="logo logo--partner{% if include.small %} logo--partner-sm{% endif %}" href="{{site.client.link}}">
        <img src="{{site.img}}/logo/partner2.svg" alt="{{site.client.name}} Logo"></a>
    <div class="space--md"></div>
        <h2 class="title title--xl">Lorem ipsum</h2>
        <p class="text--xxl width width--md">Wir haben noch viele weitere Angebote weltweit – mit bis 70% Vergünstigung</p>
        <div class="space--md"></div>
        <a id="track-btn-current-sales" href="{{site.core-se-link}}" class="btn btn--orange">Alle Angebote sehen</a>
      </div>
    </div>
</div>
