// general styles for the project that wouldn't be a reuseable component


/* ==========================================================================
   Parallax & Backgrounds
   ========================================================================== */

.bv-parallax{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}

@media only screen and (max-width: 1024px) {

.bv-remove-bg{
  background-image: none!important;
}

.bv-parallax{
  background-attachment: scroll;
  background-size: cover;
  }

}

.bv-banner-out{}

.bv-modal-width {
  background-position: top center;
  width: 100vw;

    @include bp($lg){
      width: 89vw;
      max-width: 1200px;
    }

}

/* ==========================================================================
   Text-Styles
   ========================================================================== */

.bv-copyright{

   &--bottom{
     white-space: nowrap;
    position:absolute;
     bottom:0px;
     background-color: rgba($black, .2);
     padding: 5px 10px;
     left: 0px;
   }

  &--right-bottom{
    position:absolute;
    bottom:0px;
    line-height: 1.1em;
    background-color: rgba($black, .2);
    padding: 8px 8px;
    right:0px;
  }

  &--top{

    position: absolute;
    top: 50px;
    left: 25px;
    font-size: 10px;
    background-color: rgba($black, .2);
    transform: rotate(90deg);
    transform-origin: top left;
    padding:  3px 10px 8px;

    @include bp($md) {
    position: absolute;
    top: 70px;
    left: 27px;
    font-size: 12px;
    background-color: rgba($black, .2);
    transform: rotate(90deg);
    transform-origin: top left;
    padding: 3px 10px 5px;
    }

   }

 }
