// general styles for the project that wouldn't be a reuseable component


/* ==========================================================================
   Parallax & Backgrounds
   ========================================================================== */

.bv-parallax{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}

@media only screen and (max-width: 1024px) {

.bv-remove-bg{
  background-image: none!important;
}

.bv-parallax{
  background-attachment: scroll;
  background-size: cover;
  }

}

.bv-banner-out{}

.bv-modal-width {
  background-position: top center;
  width: 100vw;

    @include bp($lg){
      width: 89vw;
      max-width: 1200px;
    }

}
